  <!-- вывод информации о визитах и сообщениях для администратора -->

<!-- визиты -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Requests:</h3>
  </div>
  <!-- в панель выводится содержимое БД users-->
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Date</th>
          <th>Candy</th>
          <th>Color</th>
        </tr>
      </thead>
      <tbody>
        <% $db.execute "SELECT * FROM users ORDER BY id DESC" do |line| %>
          <tr>
            <td><%= line['Id'] %></td>
            <td><%= line['Name'].encode('utf-8') %></td>
            <td><%= line['Phone'] %></td>
            <td><%= line['Date'] %></td>
            <td><%= line['Candy']%></td>
            <td><%= line['Color'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- сообщения -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Messages:</h3>
  </div>
  <!-- в панель выводится содержимое файла БД contacts -->
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>EMail</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <% $db.execute "SELECT * FROM contacts" do |line| %>
          <tr>
            <td><%= line['Email'] %></td>
            <td><%= line['Message'].encode('utf-8') %></td>
          </tr> 
        <% end %>
      </tbody>
    </table>
  </div>
</div>